@using System.Collections.Generic
@using System.Text.Json

 <div class="my-5">

 </div>
<nav class="p-2">
    <div class="items-center px-1">
        @foreach (var category in Categories)
        {
        <span class="text-lg p-2 text-amber-300">@category.Name</span>
            <div class="flex flex-col">
            @foreach (var child in category.Children)
            {
            <NavLink class="flex flex-col px-3" href="@child.Url">
                <span class="px-2" aria-hidden="true"></span> @child.Name
            </NavLink>
            }
            
        </div>         
        }
    </div>
</nav>


@code {
    private List<Category> Categories { get; set; }

    protected override void OnInitialized()
    {
        var jsonFilePath = Path.Combine("Data", "categories.json");
        var jsonData = File.ReadAllText(jsonFilePath);

        Categories = JsonSerializer.Deserialize<List<Category>>(jsonData);
    }

    public class Category
    {
        public string Name { get; set; }
        public bool HasChildren { get; set; }
        public List<Child> Children { get; set; }
    }

    public class Child
    {
        public string Name { get; set; }
        public string Url { get; set; }
    }
}